//SVG animations    
#Left {
    animation: typing 5s ease infinite;
    transform-origin: center;
}

#details {
    animation: sparkle 3s ease-in;
    transform-origin: center;
}

#torso {
    animation: lean 5s ease infinite;
    transform-origin: center;
}

#head {
    animation: lean 5s ease infinite;
    transform-origin: center;
}

#rightarm {
    animation: lean 5s ease infinite;
    transform-origin: center;
}



@keyframes turn {
    from {
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(10deg);
    }
}


@keyframes sparkle {
    from {
        transform: scale(.3);
    }
    to{
        transform: width(1.5);
    }
}

@keyframes lean {
    from {
        transform: rotateZ(1deg);
    }
    to{
        transform: rotateZ(-5.5deg);
    }
}

@keyframes typing {
    from {
        transform: rotateZ(5deg);
    }
    to{
        transform: rotateZ(-16.5deg);
    }
}