//Projects Section
.grid-container {
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  column-gap: 4rem;
  font-family: museo-sans, Helvetica, sans-serif;
}

.about-title2 {
  color: rgb(2, 2, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin-top: 25px;
  padding: 1.5rem;
}

.projects-p {
  color: rgb(43, 41, 41);
  font-size: 17px;
  word-spacing: 2px;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  text-align: center;
  padding: 25px;
}

.grid-item ul {
  list-style: none;
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 15px;
}

ul {
  padding: 0;
  border: 0;
  font: inherit;
}

.grid-item li {
  width: 20%;
  margin: 2%;
  background: #fff;
  align-content: center;
  justify-content: center;
}

.grid-item a {
  border: 1px solid #000000;
  display: block;
  background: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h4 {
  color: #f1eaea;
  font-family: museo-sans, Helvetica, sans-serif;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: center;
  display: flex;
  font-size: 30px;
}

.grid-item h4 {
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  min-height: 8vh;
  background: #000;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  background: #242736;
}

//Media
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .projects-p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .grid-item h4 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .grid-item li {
    width: 80%;
    margin-left: 40px;
  }
}
