//Tech Skills Section
.grid-layout2 {
    background-image: url(./napoleon-dynamite-wallpaper-generator.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    min-height: 80vh;
    border: 8px solid black;
    border-style: groove;
    background-color: rgb(32, 32, 32);
}




.grid2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 180px;
}

.grid2:hover .skill {
    width: 120px;
}


.skill {
    transition-duration: 7s;
    transition-property: width;
    display: flex;
    width: 70px;
    height:70px;
    animation: wheel 25s ease;
}

@keyframes wheel {
    from {
        transform: rotatez(0deg);
    }
    to {
        transform: rotatez(360deg);
    }
}



.one {
    transition-timing-function: ease-in;
}



//mobile
@media screen and (max-width: 768px) {
    .grid-layout2 {
        background-size: 100% 100%;
        background-position: center;
        background-attachment: scroll;
        height: 70vh;
        }
    }

    @media screen and (max-width: 768px) {
        .skill {
            width: 40px;
            height: 40px;
            transition-duration: 8s;
            transition-property: width;
            display: flex;
        }
    }

@media screen and (max-width: 768px) {
    .grid2:hover .skill {
        width: 55px;
    }
}