.grid-layout2 {
    background-image: url(./napoleon-dynamite-wallpaper-generator.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    min-height: 90vh;
    border: 8px solid black;
    border-style: groove;
    background-color: rgb(32, 32, 32);
}




.grid2 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
}

.grid2:hover .skill {
    width: 200px;
}


.skill {
    transition-duration: 8s;
    transition-property: width;
    display: flex;
    width: 100px;
    height: 100px;
}

.one {
    transition-timing-function: ease-in;
}


//mobile
@media screen and (max-width: 768px) {
    .grid-layout2 {
        background-size: 100% 100%;
        background-position: center center;
        background-attachment: scroll;
        height: 90vh;
        }
    }

    @media screen and (max-width: 768px) {
        .skill {
            width: 40px;
            height: 40px;
            transition-duration: 8s;
            transition-property: width;
            display: flex;
        }
    }

@media screen and (max-width: 768px) {
    .grid2:hover .skill {
        width: 50px;
    }
}