//Tech Skills Section
.about {
  min-height: 80vh;
  background-color: #242736;
}

.grid-p {
  color: white;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  display: flexbox;
}

.about-p {
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.about-title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  padding: 1.5rem;
  font-family: "Bangers", cursive;
}

hr {
  width: 40%;
  height: 1px;
  margin-bottom: 55px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  border-width: 2px;
  border-color: #a54821;
  border-bottom: #a54821;
}
.bar {
  border-color: #000000;
  border-bottom: #000000;
}

.grid-container1 {
  background: #242736;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding-left: 15rem;
  width: 100%;
  margin: 0, auto;
  row-gap: 5rem;
  column-gap: 3rem;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.fa-html5,
.fa-css3,
.fa-js,
.fa-sass,
.fa-react,
.fa-wordpress,
.fa-figma,
.fa-github,
.fa-npm,
.fa-aws {
  color: white;
}

//mobile
@media screen and (max-width: 768px) {
  .grid-layout2 {
    background-size: 100% 100%;
    background-position: center;
    background-attachment: scroll;
    height: 70vh;
  }
}

@media screen and (max-width: 768px) {
  .skill {
    width: 40px;
    height: 40px;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .grid-container1 {
    grid-template-columns: 1fr;
    padding-left: 14rem;
  }
}
