@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");
.grid-container {
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  font-family: museo-sans, Helvetica, sans-serif;
}

.projects-p {
  color: #faf5f5;
  font-size: 17px;
  word-spacing: 2px;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  text-align: center;
  padding: 25px;
}

h1 {
  text-align: center;
  background: white;
  margin: auto;
  font-size: 50px;
  font-family: "Bangers", cursive;
  padding-top: 70px;
  color: black;
}

.grid-item ul {
  list-style: none;
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 15px;
}

ul {
  padding: 0;
  border: 0;
  font: inherit;
}

.grid-item li {
  width: 20%;
  margin: 2%;
  background: #fff;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-item a {
  border: 1px solid #000000;
  display: block;
  background: #313233;
}

a {
  text-decoration: none;
}

.grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h4 {
  color: #f1eaea;
  font-family: museo-sans, Helvetica, sans-serif;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
}

.grid-item h4 {
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  min-height: 8vh;
  background: #000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  background: #313233;
}

@media screen and (max-width: 768px) {
  .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .projects-p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .grid-item h4 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .grid-item li {
    width: 80%;
    margin-left: 40px;
  }
}

.grid-layout2 {
  background-image: url(./napoleon-dynamite-wallpaper-generator.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 80vh;
  border: 1px solid black;
  background-color: #202020;
}

.grid2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 250px;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .grid-layout2 {
    background-size: 100% 100%;
    background-position: center;
    background-attachment: scroll;
    height: 70vh;
  }
}

@media screen and (max-width: 768px) {
  .skill {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#Left {
  -webkit-animation: typing 3s ease infinite;
          animation: typing 3s ease infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  animation-direction: alternate-reverse;
}

#details {
  -webkit-animation: sparkle 3s ease-in;
          animation: sparkle 3s ease-in;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#torso {
  -webkit-animation: lean 3s ease infinite;
          animation: lean 3s ease infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  animation-direction: alternate-reverse;
}

#head {
  -webkit-animation: lean 3s ease infinite;
          animation: lean 3s ease infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes turn {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(11deg);
            transform: rotateZ(11deg);
  }
}

@keyframes turn {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(11deg);
            transform: rotateZ(11deg);
  }
}

@-webkit-keyframes sparkle {
  from {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  to {
    -webkit-transform: width(1.5);
            transform: width(1.5);
  }
}

@keyframes sparkle {
  from {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  to {
    -webkit-transform: width(1.5);
            transform: width(1.5);
  }
}

@-webkit-keyframes lean {
  from {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  to {
    -webkit-transform: rotateZ(-5.5deg);
            transform: rotateZ(-5.5deg);
  }
}

@keyframes lean {
  from {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  to {
    -webkit-transform: rotateZ(-5.5deg);
            transform: rotateZ(-5.5deg);
  }
}

@-webkit-keyframes typing {
  from {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  to {
    -webkit-transform: rotateZ(-16.5deg);
            transform: rotateZ(-16.5deg);
  }
}

@keyframes typing {
  from {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  to {
    -webkit-transform: rotateZ(-16.5deg);
            transform: rotateZ(-16.5deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#hero {
  background: #e9ebee;
}

body {
  min-height: 90vh;
  margin: 0;
  padding: 0;
}

header {
  min-height: 4vh;
  background: #313233;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .bio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Bangers", cursive;
}

.nav-list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  color: white;
  font-family: "Bangers", cursive;
}

a:hover {
  background-color: #1c62cc;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 5px;
  margin: 5px;
  background-color: white;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.grid-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 3fr;
      grid-template-columns: 2.5fr 3fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.grid-layout #hero div {
  max-width: 100%;
  min-height: 100px;
  padding: 0;
  border: 0;
  font: inherit;
  display: block;
}

.grid {
  margin: auto;
}

.grid p {
  font-size: 25px;
  word-spacing: 4px;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  text-align: center;
  padding-bottom: 2px;
  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 5px grey;
          box-shadow: 10px 10px 5px grey;
  width: 80%;
  height: 100%;
  background: #0e528a;
  font-family: "Pathway Gothic One", sans-serif;
  padding: 15px;
}

.hero-p {
  color: #f0e6e6;
}

/*Quote*/
section {
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
}

#quote {
  background: #313233;
  text-align: center;
}

#quote blockquote {
  font-size: 25px;
  line-height: 25px;
  padding: 30px 20px 50px;
  max-width: 650px;
  min-height: auto;
  margin: 0 auto;
  color: #fff;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  border: 0;
  font: inherit;
}

#quote blockquote cite {
  margin-top: 50px;
  display: block;
  font-style: italic;
}

#quote blockquote cite::before {
  content: "-";
}

@media screen and (max-width: 768px) {
  .grid-layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .grid p {
    font-size: 14px;
    word-spacing: 1.5px;
    font-weight: bold;
    line-height: 1.8rem;
    text-align: center;
    padding: 5px;
    margin-bottom: 700px;
    margin: auto;
    margin-bottom: 60px;
    width: 50%;
  }
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    right: 0px;
    height: 70vh;
    top: 8vh;
    background-color: #313233;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-list li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg translate(-5px, 6px));
          transform: rotate(-45deg translate(-5px, 6px));
}

.toggle .line2 {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .nav-list {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */