@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.grid-container {
  background: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  font-family: museo-sans, Helvetica, sans-serif;
}

.about-title2 {
  color: #020202;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  margin-top: 25px;
  padding: 1.5rem;
  font-family: "Bangers", cursive;
}

.projects-p {
  color: #2b2929;
  font-size: 17px;
  word-spacing: 2px;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  text-align: center;
  padding: 25px;
}

.grid-item ul {
  list-style: none;
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 15px;
}

ul {
  padding: 0;
  border: 0;
  font: inherit;
}

.grid-item li {
  width: 20%;
  margin: 2%;
  background: #fff;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-item a {
  border: 1px solid #000000;
  display: block;
  background: white;
}

a {
  text-decoration: none;
}

.grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h4 {
  color: #f1eaea;
  font-family: museo-sans, Helvetica, sans-serif;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
}

.grid-item h4 {
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  min-height: 8vh;
  background: #000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  background: #242736;
}

@media screen and (max-width: 768px) {
  .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .projects-p {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .grid-item h4 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .grid-item li {
    width: 80%;
    margin-left: 40px;
  }
}

.about {
  min-height: 80vh;
  background-color: #242736;
}

.grid-p {
  color: white;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  display: flexbox;
}

.about-p {
  color: white;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.about-title {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
  padding: 1.5rem;
  font-family: "Bangers", cursive;
}

hr {
  width: 40%;
  height: 1px;
  margin-bottom: 55px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  border-width: 2px;
  border-color: #a54821;
  border-bottom: #a54821;
}

.bar {
  border-color: #000000;
  border-bottom: #000000;
}

.grid-container1 {
  background: #242736;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding-left: 15rem;
  width: 100%;
  margin: 0, auto;
  row-gap: 5rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.fa-html5,
.fa-css3,
.fa-js,
.fa-sass,
.fa-react,
.fa-wordpress,
.fa-figma,
.fa-github,
.fa-npm,
.fa-aws {
  color: white;
}

@media screen and (max-width: 768px) {
  .grid-layout2 {
    background-size: 100% 100%;
    background-position: center;
    background-attachment: scroll;
    height: 70vh;
  }
}

@media screen and (max-width: 768px) {
  .skill {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .grid-container1 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-left: 8rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#hero {
  background: url(./coffeelaptop.jpg);
  background-size: cover;
}

body {
  min-height: 90vh;
  margin: 0;
  padding: 0;
}

header {
  min-height: 5vh;
  background: #242736;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .bio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  font-size: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Bangers", cursive;
}

.nav-list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: white;
  font-family: "Bangers", cursive;
}

a:hover {
  background-color: #72a5f1;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 5px;
  margin: 5px;
  background-color: white;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.grid-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.grid-layout #hero div {
  max-width: 100%;
  min-height: 100px;
  padding: 0;
  border: 0;
  font: inherit;
  display: block;
}

.grid-layout .bio-pic {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.grid {
  margin: auto;
}

.grid p {
  font-size: 15px;
  font-weight: bolder;
  word-spacing: 5px;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  text-align: left;
  padding-bottom: 2px;
  border: none;
  width: 90%;
  background: white;
  font-family: "Roboto", sans-serif;
  padding: 15px;
}

.hero-p {
  color: #221f1f;
}

/*Quote*/
section {
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
}

#quote {
  background: #242736;
  text-align: center;
}

#quote blockquote {
  font-size: 25px;
  line-height: 25px;
  padding: 30px 20px 50px;
  max-width: 650px;
  min-height: auto;
  margin: 0 auto;
  color: #fff;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  border: 0;
  font: inherit;
}

#quote blockquote cite {
  margin-top: 50px;
  display: block;
  font-style: italic;
}

#quote blockquote cite::before {
  content: "-";
}

@media screen and (max-width: 768px) {
  .grid-layout {
    -ms-grid-columns: 15fr;
        grid-template-columns: 15fr;
    grid-gap: 1rem;
  }
  .bio-pic {
    padding-top: 15px;
    padding-right: 10px;
  }
  .grid p {
    font-size: 12px;
    word-spacing: 1.5px;
    line-height: 1.8rem;
    text-align: left;
    padding: 5px;
    margin-bottom: 700px;
    margin: auto;
    margin-bottom: 60px;
    width: 80%;
  }
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    right: 0px;
    height: 70vh;
    top: 8vh;
    background-color: #242736;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-list li {
    opacity: 0;
  }
  header nav .bio {
    font-size: 30px;
  }
  .burger {
    display: block;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(70px);
              transform: translateX(70px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(70px);
              transform: translateX(70px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg translate(-5px, 6px));
          transform: rotate(-45deg translate(-5px, 6px));
}

.toggle .line2 {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .nav-list {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */