@import "./projects";
@import "./techskills";
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bangers&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero {
  background: rgb(212, 216, 221);
}

body {
  min-height: 90vh;
  margin: 0;
  padding: 0;
}

header {
  min-height: 4vh;
  background: rgb(49, 50, 51);
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .bio {
      display: inline-flex;
      text-decoration: none;
      font-size: 25px;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: "Bangers", cursive;
    }
  }
}

//navigation
.nav-list {
  justify-content: space-around;
  display: flex;
  width: 30%;
  li {
    list-style: none;
    a {
      letter-spacing: 3px;
      text-decoration: none;
      font-weight: bold;
      font-size: 17px;
      color: white;
      font-family: "Bangers", cursive;
    }
  }
}

a:hover {
  background-color: rgb(28, 98, 204);
}

//mobile nav burger
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 5px;
  margin: 5px;
  background-color: white;
  transition: all 0.3 ease;
}

//Main body
.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 90vh;

  #hero div {
    max-width: 100%;
    min-height: 100px;
    padding: 0;
    border: 0;
    font: inherit;
    display: block;
  }
  .bio-pic {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
  }
}

.grid {
  margin: auto;
  p {
    font-size: 15px;
    font-weight: bolder;
    word-spacing: 5px;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
    text-align: center;
    padding-bottom: 2px;
    border: none;
    box-shadow: 10px 10px 15px rgb(88, 85, 85);
    width: 90%;
    background: #e5e8ec;
    font-family: "Roboto", sans-serif;
    padding: 15px;
  }
}

.hero-p {
  color: rgb(34, 31, 31);
}

/*Quote*/
section {
  display: block;
  padding: 0;
  border: 0;
  margin: 0;
}

#quote {
  background: rgb(49, 50, 51);
  text-align: center;
}

#quote blockquote {
  font-size: 25px;
  line-height: 25px;
  padding: 30px 20px 50px;
  max-width: 650px;
  min-height: auto;
  margin: 0 auto;
  color: #fff;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  border: 0;
  font: inherit;
}

#quote blockquote cite {
  margin-top: 50px;
  display: block;
  font-style: italic;
}

#quote blockquote cite::before {
  content: "-";
}

//Mobile setup
@media screen and (max-width: 768px) {
  .grid-layout {
    grid-template-columns: 15fr;
    grid-gap: 1rem;
  }
  .bio-pic {
    padding-top: 15px;
    padding-right: 10px;
  }
  .grid p {
    font-size: 12px;
    word-spacing: 1.5px;
    line-height: 1.8rem;
    text-align: center;
    padding: 5px;
    margin-bottom: 700px;
    margin: auto;
    margin-bottom: 60px;
    width: 80%;
  }
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    right: 0px;
    height: 70vh;
    top: 8vh;
    background-color: rgb(49, 50, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-list li {
    opacity: 0;
  }
  .burger {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.toggle .line1 {
  transform: rotate(-45deg translate(-5px, 6px));
}

.toggle .line2 {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  .nav-list {
    width: 50%;
  }
}
